<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load staticfiles %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% bootstrap_messages %}
</head>
<script>
    function networkOverview() {
        $("#item").attr("src", '/html_app/device_list');
    }

    function queryInt() {
        $("#item").attr("src", '/html_app/int_list');
    }
    function queryRoute() {
        $("#item").attr("src", '/html_app/route_list');
    }
    function queryVlan() {
        $("#item").attr("src", '/html_app/vlan_list');
    }

</script>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#" onclick="Logo()">Logo</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#" onclick="networkOverview()">网络概览</a>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="deviceConfig" data-toggle="dropdown">
       设备配置
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#" onclick="accessConfigView()">Access</a>
        <a class="dropdown-item" href="#" onclick="confTrunk()">Trunk</a>
        <a class="dropdown-item" href="#">Spanning-tree</a>
        <a class="dropdown-item" href="#" onclick="confIP()">IPV4</a>
        <a class="dropdown-item" href="#">静态路由</a>
      </div>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        信息查询
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#" onclick="queryRoute()">路由表</a>
        <a class="dropdown-item" href="#" onclick="queryInt()">接口信息</a>
        <a class="dropdown-item" href="#" onclick="queryVlan()">VLAN信息</a>
      </div>
    </li>
      <li class="nav-item">
      <a class="nav-link" href="#">故障告警</a>
    </li>
      <li class="nav-item">
      <a class="nav-link" href="#">关于</a>
    </li>
  </ul>
</nav>
<iframe id="item" src='/html_app/device_list' style="width: 100%;height: 600px;" frameborder="0"></iframe>

</body>
</html>